@import "tailwindcss";
@tailwind utilities;

.perspective {
  perspective: 1000px;
}
.backface-hidden {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

